h1 {
    color: brown;
}

#text-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.text {
    font-size: 25px;
    padding: 10px;
}

body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}